<h1>Edit Member</h1>


<%= form_for @member, url: 'update' do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>

  <%= f.label :age %>
  <%= f.number_field :age %>


  <%= f.submit "Create my account", class: "btn btn-primary" %>
<% end %>